a:hover {
    color: black;
}

header {
    text-align: center;
    background-size: cover;
    color: lightcoral;
    position: relative;
}

body {
    background: url("image/fox and panda.png");
    background-position: top;
    background-size: cover;
}

h1 {
    font-size: 80px;
    font-family: 'Cairo', sans-serif;
    margin-top: 15px;
    margin-left: 200px;
    margin-right: 180px;
    background: rgba(0,0,128,0.4);
}

p {
    font-size: 25px;
    color: lightcoral;
    font-family: 'Courgette', cursive;
    margin-top: -50px;
}


.nav-bar {
    margin: 0 auto;
    text-align: center;
}

li {
    display: inline;
    padding: 10px 20px 10px 20px;
}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: "DejaVu Sans Mono";
    background: lightseagreen;
    padding: 10px;
    margin: 10px;
}

input {
    border:2px solid yellow;
    padding: 10px;
    font-size: 18px;
    margin: 0 auto;
}

.input-submit {
    color:grey;
    margin: 0 auto;
    text-align: center;
}

/*@media (max-width: 500px) {*/
/*    h1 {*/
/*        font-size:36px;*/
/*    }*/
/*    li {*/
/*        display: black;*/
/*        padding: 5px;*/
/*    }*/
/*}*/